@model BooksMgtSysWA.Models.Book

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Book Title
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            Author
        </dt>

        <dd>
            @Html.DisplayFor(model => model.author)
        </dd>

        <dt>
            Price
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            Status
        </dt>

        <dd>
            @ViewBag.sts
        </dd>

        <dt>
            Booking Number
        </dt>

        <dd>
            @ViewBag.bnum
        </dd>

    </dl>
</div>
<p>

    @using (Html.BeginForm("BookRes", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        if (ViewBag.isRes == true)
        {
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Reserve Book" class="btn btn-default" disabled="disabled" />
                </div>
            </div>
        }
        else
        {
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Reserve Book" class="btn btn-default" />
                </div>
            </div>
        }


    }
</p>
