@model IEnumerable<BooksMgtSysWA.Models.Book>

@{
    ViewBag.Title = "Index";
}

<center><h2>List of Books</h2></center>


@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <p>
        Search: @Html.TextBox("searchString")
        <input type="submit" value="Search Book" />
    </p>
}

<table class="table">
    <tr>
        <th>
            Book Title
        </th>
        <th>
            Author
        </th>
        <th>
            Price
        </th>
        <th>
            Status
        </th>
        <th>
            Booking Number
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.booking_num)
            </td>
            <td>
                @Html.ActionLink("View Book", "Details", new { id = item.id })
            </td>
        </tr>
    }

</table>